*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: initial; }

::selection {
  color: white;
  background: #ffbc3d; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 69em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 52%; } }
  @media only screen and (max-width: 47em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Raleway", sans-serif;
  color: #676d75;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 1.6;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.btn {
  text-decoration: none;
  padding: 1.2rem 3rem;
  border-radius: 10px;
  font-weight: 600;
  color: inherit;
  letter-spacing: 1px;
  transition: all .3s;
  border: 0;
  font-size: 1.7rem;
  color: #0274d1; }
  .btn:hover {
    box-shadow: 0 1rem 4rem rgba(90, 90, 90, 0.349); }
  .btn-primary {
    background-color: #f6fbff;
    box-shadow: 0 1rem 4rem rgba(90, 90, 90, 0.116); }
  .btn-secondary {
    border-bottom: 2px solid currentColor;
    padding: 1.2rem 2rem 1rem 2rem;
    background-color: inherit;
    transition: all .2s; }
    .btn-secondary:hover {
      color: white;
      background-color: #0274d1;
      border-bottom: 2px solid #0274d1; }
      .btn-secondary:hover span {
        display: inline-block; }

.heading-1 {
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 6.5rem;
  line-height: 140%;
  color: #383a3d; }

.heading-2 {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3.5rem;
  text-align: center; }

.heading-3 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #97a2af;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 47em) {
    .heading-3 {
      font-size: 1.8rem; } }

.heading-4 {
  padding: 1.5rem 0;
  font-size: 2.7rem;
  color: #97a2af; }

.heading-5 {
  letter-spacing: 1px;
  padding: 1rem 0;
  font-size: 1.6rem; }

.header {
  position: relative;
  grid-column: 1/-1;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #e2f4ff; }
  .header-top {
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    z-index: 100; }
    .header-top-right {
      display: flex;
      align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .header-top {
        padding: 1rem;
        margin: 0 2%; } }
    .header-top i {
      font-size: 3.5rem;
      padding: 0 3rem;
      transform: translateY(-0.4rem);
      position: relative;
      cursor: pointer;
      transition: all .2s; }
      @media only screen and (max-width: 37.5em) {
        .header-top i {
          padding: 0 1.5rem; } }
      .header-top i:hover {
        color: #0274d1; }
      .header-top i span {
        position: absolute;
        font-size: 1.8rem;
        color: #0274d1;
        background-color: white;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        top: 1.8rem;
        left: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5rem;
        box-shadow: 0 1rem 4rem rgba(90, 90, 90, 0.349); }
        @media only screen and (max-width: 37.5em) {
          .header-top i span {
            left: .5rem; } }
  .header-logo {
    width: 100px; }
    @media only screen and (max-width: 37.5em) {
      .header-logo {
        width: 75px; } }
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 55%;
    z-index: 10; }
    @media only screen and (max-width: 69em) {
      .header-nav {
        flex: 0 0 65%; } }
    @media only screen and (max-width: 56.25em) {
      .header-nav {
        flex: 0 0 77%; } }
    @media only screen and (max-width: 37.5em) {
      .header-nav {
        flex: 1;
        justify-content: flex-end;
        margin-right: 8.5rem; } }
    .header-nav button {
      margin-top: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .header-nav button {
          display: none; } }
    .header-nav a {
      text-decoration: none;
      color: inherit;
      font-weight: 800;
      letter-spacing: 1px;
      transition: all .2s; }
      @media only screen and (max-width: 37.5em) {
        .header-nav a {
          display: none; } }
      .header-nav a:hover {
        border-bottom: 2px  solid currentColor;
        color: #0274d1; }
  .header-main {
    flex: 1;
    align-self: flex-end;
    display: flex;
    margin: 0 5%;
    align-items: center;
    justify-content: space-evenly; }
    @media only screen and (max-width: 56.25em) {
      .header-main {
        justify-content: space-between;
        margin: 0 3%; } }
    @media only screen and (max-width: 47em) {
      .header-main {
        flex-direction: column; } }
    .header-main img {
      width: 45%;
      padding: 5rem; }
      @media only screen and (max-width: 56.25em) {
        .header-main img {
          padding: 5rem 0; } }
      @media only screen and (max-width: 47em) {
        .header-main img {
          padding: 0 5rem 0 0;
          width: 60%;
          align-self: flex-end;
          order: -1; } }
      @media only screen and (max-width: 37.5em) {
        .header-main img {
          width: 85%;
          padding: 0;
          transform: translateY(-5rem);
          margin-bottom: -5rem; } }
  .header-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3%;
    padding-top: 7%;
    z-index: 10; }
    @media only screen and (max-width: 47em) {
      .header-text {
        padding: 0;
        justify-self: flex-end;
        justify-content: space-between;
        flex: 1; } }
    .header-text-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 5%; }
      @media only screen and (max-width: 56.25em) {
        .header-text-box h1 {
          font-size: 5rem; } }
  .header-brands {
    display: flex;
    justify-content: space-between;
    font-size: 5rem;
    color: #97a2af;
    padding-bottom: 3rem;
    padding-top: 6rem;
    padding-bottom: 4rem; }

.navigation {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      display: block; } }
  .navigation-checkbox {
    display: none; }
  .navigation-btn {
    background-color: #f6fbff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.164);
    cursor: pointer; }
    @media only screen and (max-width: 47em) {
      .navigation-btn {
        top: 2.2rem;
        right: 2.2rem; } }
  .navigation-background {
    z-index: 1000;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#ffa600, #fdca6c);
    transition: all .5s ease-in; }
    @media only screen and (max-width: 47em) {
      .navigation-background {
        top: 2.5rem;
        right: 2.5rem; } }
  .navigation-nav {
    height: 50vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    transform-origin: right;
    transition: all;
    transition-delay: .3s; }
  .navigation-list {
    float: right;
    margin-right: 7rem;
    margin-top: 6rem;
    list-style: none; }
  .navigation-link:link, .navigation-link:visited {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 270%;
    transition: all .5s; }
    .navigation-link:link span, .navigation-link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navigation-link:hover, .navigation-link:active {
    background-position: 100%;
    color: #0274d1;
    transform: translateX(-1rem); }
  .navigation-checkbox:checked ~ .navigation-background {
    transform: scale(17); }
    @media only screen and (max-width: 37.5em) {
      .navigation-checkbox:checked ~ .navigation-background {
        transform: scale(11); } }
  .navigation-checkbox:checked ~ .navigation-nav {
    opacity: 1;
    width: 100%; }
  .navigation-icon {
    position: relative;
    margin-top: 3.5rem;
    margin-left: 2rem; }
    .navigation-icon, .navigation-icon::before, .navigation-icon::after {
      width: 3rem;
      height: 2px;
      background-color: gray;
      display: inline-block; }
    .navigation-icon::before, .navigation-icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation-icon::after {
      top: .8rem; }
    .navigation-icon::before {
      top: -.8rem; }
  .navigation-btn:hover .navigation-icon::before {
    top: -1rem; }
  .navigation-btn:hover .navigation-icon::after {
    top: 1rem; }
  .navigation-checkbox:checked + .navigation-btn .navigation-icon {
    background-color: transparent; }
  .navigation-checkbox:checked + .navigation-btn .navigation-icon::before {
    transform: rotate(135deg);
    top: 0; }
  .navigation-checkbox:checked + .navigation-btn .navigation-icon::after {
    transform: rotate(-135deg);
    top: 0; }

.steps {
  grid-row: 2/3;
  grid-column: 3/11;
  padding: 10rem 0; }
  @media only screen and (max-width: 47em) {
    .steps {
      grid-column: 2/12; } }
  @media only screen and (max-width: 37.5em) {
    .steps {
      grid-column: 1/-1;
      padding: 8rem 3rem; } }

.step {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0; }
  @media only screen and (max-width: 30em) {
    .step {
      flex-direction: column-reverse;
      text-align: center;
      padding: 0; } }
  .step-img {
    width: 40%; }
    @media only screen and (max-width: 30em) {
      .step-img {
        width: 70%;
        margin-top: 2.5rem; } }
  .step-text {
    width: 45%; }
    @media only screen and (max-width: 37.5em) {
      .step-text {
        width: 50%; } }
    @media only screen and (max-width: 30em) {
      .step-text {
        width: 95%; } }
  .step-2 img {
    width: 48%; }
    @media only screen and (max-width: 30em) {
      .step-2 img {
        width: 80%;
        order: -1;
        transform: translateY(-2.5rem); } }
  .step span {
    display: none; }
  .step button {
    transition: all .2s; }
    .step button:hover {
      color: white;
      background-color: #0274d1;
      border-bottom: 2px solid #0274d1; }
      .step button:hover span {
        display: inline-block; }

.features {
  grid-column: 2/12;
  grid-row: 3/4;
  background-color: #e2f4ff;
  border-radius: 30px;
  margin-bottom: 6rem;
  padding: 4rem;
  padding-bottom: 0; }
  @media only screen and (max-width: 69em) {
    .features {
      padding: 2rem; }
      .features h4 {
        padding: 0; } }
  @media only screen and (max-width: 47em) {
    .features {
      margin: 4rem 3rem;
      grid-column: 1/-1; } }
  .features-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: repeat(2, 1fr);
    align-items: top;
    justify-items: center; }
    @media only screen and (max-width: 37.5em) {
      .features-box {
        display: block;
        margin: 0 auto; } }
    .features-box img {
      width: 140%;
      grid-area: 2/2/3/3;
      padding-bottom: 17rem;
      transform: translateY(7rem) translateX(-3rem); }
      @media only screen and (max-width: 56.25em) {
        .features-box img {
          padding-bottom: 10rem; } }
      @media only screen and (max-width: 37.5em) {
        .features-box img {
          width: 100%;
          transform: translateY(3rem) translateX(0); } }
  .features-text {
    width: 80%;
    padding-top: 10rem; }
    @media only screen and (max-width: 69em) {
      .features-text {
        padding-top: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .features-text {
        padding: 2rem;
        width: 90%; } }
    @media only screen and (max-width: 37.5em) {
      .features-text {
        width: auto;
        padding: 2rem 3rem; } }
    .features-text i {
      color: #ffbc3d;
      font-size: 3rem; }

.review {
  grid-column: 3/11;
  grid-row: 4/5;
  padding: 13rem 2rem 23rem 2rem; }
  @media only screen and (max-width: 69em) {
    .review {
      grid-column: 2/12;
      padding: 9rem 0 23rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .review {
      grid-column: 1/-1;
      padding: 9rem 2rem 23rem 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .review {
      padding-bottom: 15rem; } }
  .reviews {
    display: flex;
    justify-content: space-between;
    margin: 7rem 0; }
    @media only screen and (max-width: 37.5em) {
      .reviews {
        flex-direction: column;
        align-items: center; } }
  .review img {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%; }
  .review-box {
    padding: 2rem 3rem;
    border-radius: 10px;
    width: 23%;
    min-height: 37rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e7f5ff;
    box-shadow: 0 1rem 4rem rgba(90, 90, 90, 0.116);
    border: 2px solid #e2f4ff; }
    @media only screen and (max-width: 37.5em) {
      .review-box {
        width: 80%;
        min-height: 22rem; }
        .review-box:not(last-child) {
          margin-bottom: 5rem; } }
  .review-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 2rem 1rem; }
  .review-rate {
    display: flex;
    color: #ffbc3d;
    padding: 2rem;
    padding-bottom: 0; }

.footer {
  padding-bottom: 4rem;
  grid-column: 1/-1;
  background-color: #e2f4ff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between; }
  .footer-cta {
    width: 80%;
    border-radius: 30px;
    box-shadow: 0 1rem 4rem rgba(90, 90, 90, 0.295);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    background-color: white;
    transform: translateY(-50%); }
    @media only screen and (max-width: 47em) {
      .footer-cta {
        padding: 3rem;
        flex-direction: column; } }
    .footer-cta-btn {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      border: none;
      outline: none;
      transition: all .2s;
      border-radius: 20px;
      font-size: 2rem;
      letter-spacing: 3px;
      color: white;
      background-image: linear-gradient(to right, #fdca6c, #ffa600); }
      @media only screen and (max-width: 47em) {
        .footer-cta-btn {
          margin-top: 3rem; } }
      .footer-cta-btn-visible {
        display: inline-block;
        padding: 3rem 6.5rem;
        transition: all .2s; }
        @media only screen and (max-width: 47em) {
          .footer-cta-btn-visible {
            padding: 2rem 3rem; } }
      .footer-cta-btn-invisible {
        display: inline-block;
        position: absolute;
        padding: 3rem 0;
        height: 100%;
        width: 100%;
        top: -100%;
        left: 0rem;
        transition: all .2s; }
        @media only screen and (max-width: 47em) {
          .footer-cta-btn-invisible {
            padding: 2rem 0; } }
      .footer-cta-btn:hover {
        background-image: linear-gradient(to left, #fdca6c, #ffa600); }
      .footer-cta-btn:hover .footer-cta-btn-invisible {
        top: 0;
        left: 0rem; }
      .footer-cta-btn:hover .footer-cta-btn-visible {
        transform: translateY(7rem); }
  .footer-nav {
    width: 85%;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 47em) {
      .footer-nav {
        width: 90%; } }
    @media only screen and (max-width: 30em) {
      .footer-nav {
        flex-direction: column-reverse; } }
    .footer-nav-logo {
      width: 25%;
      margin-right: 18%; }
      .footer-nav-logo img {
        width: 10rem; }
      @media only screen and (max-width: 47em) {
        .footer-nav-logo {
          margin-right: 8%;
          width: 30%;
          transform: translateY(-3rem); } }
      @media only screen and (max-width: 30em) {
        .footer-nav-logo {
          width: 95%;
          margin: 0;
          transform: translateY(3rem);
          align-self: center;
          display: flex;
          align-items: center; } }
    .footer-nav-lists {
      justify-content: space-around;
      display: flex; }
    .footer-nav-list {
      text-align: center;
      display: flex;
      flex-direction: column; }
      .footer-nav-list h4 {
        padding: 1rem 0; }
  .footer a {
    padding: .5rem 1rem;
    text-decoration: none;
    color: inherit;
    border-radius: 4px;
    transition: all .2s; }
    .footer a:hover {
      background-color: #0274d1;
      color: #e2f4ff;
      transform: translateY(-3px); }
  .footer-copyright {
    font-size: 1.3rem;
    padding-top: 7rem;
    text-align: center; }
    .footer-copyright-links {
      padding-top: 1.5rem; }
    .footer-copyright span {
      color: #0274d1;
      font-weight: 700; }
