.footer{
    padding-bottom: 4rem;
    grid-column: 1/-1;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    &-cta{
        width: 80%;
        border-radius: 30px;
        box-shadow: $shadow-light;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5rem;
        background-color: white;
        transform: translateY(-50%);
        @media only screen and (max-width:$bp-medium) {padding: 3rem; flex-direction: column;}
        &-btn{
            position: relative;
            cursor: pointer;
            overflow: hidden;
            border: none;
            outline: none;
            transition: all .2s;
            border-radius: 20px;
            font-size: 2rem;
            letter-spacing: 3px;
            color: white;
            background-image: linear-gradient(to right , $color-secondary-light,$color-secondary-dark);
            @media only screen and (max-width:$bp-medium) {margin-top: 3rem;}
            
            &-visible{
                display: inline-block;
                padding:3rem 6.5rem;
                transition: all .2s;
                @media only screen and (max-width:$bp-medium) {padding:2rem 3rem;}
            }
            &-invisible{
                display: inline-block;
                position: absolute;
                padding: 3rem 0;
                height: 100%;
                width: 100%;
                top: -100%;
                left: 0rem;
                transition: all .2s;
                @media only screen and (max-width:$bp-medium) {padding:2rem 0;}
            }
            &:hover{background-image: linear-gradient(to left , $color-secondary-light,$color-secondary-dark);}
            &:hover &-invisible{top: 0;left: 0rem;}
            &:hover &-visible{transform: translateY(7rem);}
        }
    }
    &-nav{
        width: 85%;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: $bp-medium) { width: 90%;}
        @media only screen and (max-width: $bp-smaller) { flex-direction: column-reverse;}
        &-logo{
            img{ width: 10rem;}
            width: 25%;
            margin-right: 18%;
            @media only screen and (max-width: $bp-medium) { margin-right: 8%; width: 30%; transform: translateY(-3rem);}
            @media only screen and (max-width: $bp-smaller) { width: 95%; margin: 0; transform: translateY(3rem); align-self: center; display: flex; align-items: center;}
        }
        &-lists{
            justify-content: space-around;
            display: flex;
        }
        &-list{
            text-align: center;
            display: flex;
            flex-direction: column;
            h4{padding: 1rem 0;}
        }
    }
    a{
        padding: .5rem 1rem;
        text-decoration: none;
        color: inherit;
        border-radius: 4px;
        transition: all .2s;
        &:hover{
            background-color: $color-primary-dark;
            color: $color-primary;
            transform: translateY(-3px);
            
        }
    }
    &-copyright{
        font-size: 1.3rem;
        padding-top: 7rem;
        text-align: center;
        &-links{padding-top:1.5rem ;}
        span{color:$color-primary-dark; font-weight: 700;}
    }
}