.review{
    grid-column: 3/11;
    grid-row: 4/5;
    padding: 13rem 2rem 23rem 2rem;
    @media only screen and (max-width:$bp-largest) {grid-column: 2/12; padding: 9rem 0 23rem 0; }
    @media only screen and (max-width:$bp-large) {grid-column: 1/-1; padding: 9rem 2rem 23rem 2rem;}
    @media only screen and (max-width:$bp-small) {padding-bottom: 15rem;}
    &s{
        display: flex;
        justify-content: space-between;
        margin: 7rem 0;
        @media only screen and (max-width:$bp-small) {flex-direction: column; align-items: center;}
    }
    
    img{
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 50%;
    }
    &-box{
        padding: 2rem 3rem;
        border-radius: 10px;
        width: 23%;
        min-height: 37rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $color-primary-medium;
        box-shadow: $shadow-lighter;
        border: 2px solid $color-primary;
        @media only screen and (max-width:$bp-small) {width: 80%; &:not(last-child){margin-bottom: 5rem;} min-height: 22rem;}
    }
    &-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem 2rem 1rem;
    }
    &-rate{
        display: flex;
        color: $color-secondary;
        padding: 2rem;
        padding-bottom: 0;
    }
}

